@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-hero{
    background-image: url(./assets/Webp/hero.webp);
    background-size: 100% 100%; 
    background-position: 50%;
}
.bg-globe{
    background-image: url(./assets/Webp/card-globe.webp);
}
.bg-polygon{
    background-image: url(./assets/Webp/Polygon.webp);
    background-size: 100% 100%;
}
@font-face {
    font-family: 'Recharge';
    src: url('./fonts/rechargebd.otf');
}
.bgs{
    box-shadow: 0px 4px 20px 0px #02CDCF29;
}
.bg-aicard{
    background-image: url(./assets/Webp/Ai-card.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-footer{
    background-image: url(./assets/Webp/footer.webp);
}
body{
    background: #000;
}
/* *{
    outline: 1px solid red;
} */